[user]
	name = Olivier Mouchet
	email = mouchet@lynxtechnology.com
[alias]
	adu  = add -u
	st   = status
	sth  = stash
	sthl = stash list
	sthp = stash pop
	stha = stash apply
	sths = stash apply
	co   = checkout
	br   = branch
	bra  = branch --all
	brr  = branch --remotes
	up   = rebase
	ci   = commit
	ust  = reset HEAD
	ru   = remote update --prune
	pl   = pull
	plr  = pull --rebase
	ps   = push
	cl   = clean
	clx  = clean -xdf
	df   = diff
	dfc  = diff --cached
	cp   = cherry-pick
	showf = diff-tree --no-commit-id --name-status -r
	commitdiff =log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[credential "https://stash.twonky.com"]
        username = mouchet
[color]
	ui = true
#[diff]
#	external = ${HOME}/.git-external-diff.py
[core]
	excludesfile = autobuild_version.h
	editor = vim
[status]
	showUntrackedFiles = no
[help]
	autocorrect = 1
[push]
	default = upstream
[credential]
	helper = cache --timeout=36000
[diff]
	mnemonicprefix = true
[merge]
	stat = true
[pull]
	rebase = true
