[user]
	name = Olivier Mouchet
	email = mouchet@pv.com
[alias]
	adu  = add -u
	st   = status
	sth  = stash
	sthl = stash list
	sthp = stash pop
	stha = stash apply
	sths = stash apply
	co   = checkout
	br   = branch
	bra  = branch --all
	brr  = branch --remotes
	up   = rebase
	ci   = commit
	ust  = reset HEAD
	ru   = remote update --prune
	pl   = pull
	plr  = pull --rebase
	ps   = push
	cl   = clone
	df   = diff
	dfc  = diff --cached
	cp   = cherry-pick
[credential "https://stash.pv.com"]
        username = mouchet
[color]
	ui = true
[branch]
	autosetuprebase = always
#[diff]
#	external = /home/pv/sandbox/diff.py
[core]
	excludesfile = autobuild_version.h
[status]
	showUntrackedFiles = no
[help]
	autocorrect = 1
[push]
	default = upstream
